body {
    font-family: "Comic Sans Ms",Garamond,Times New Roman,Sans;
    font-size: 16px;
}

div.navbar-brand {
    font-size: 1.8em;
}

div.collapse li {
    text-align: center;
}

ul.nav{
    background-color: #dbdbdb;
}

#heading {
    font-size: 1.6em;
    margin-bottom: 25px;
}

.row div div {
    background-color: #F8F8F8;
    margin: 0 auto 0;
}

.row > div {
    margin-bottom: 35px;
}

.row h3 {
    font-size: 1.3em;
}
